<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="brand">HiFi Food Delivery</div>
            <button class="login-btn" onclick="navigateToLogin()">Login</button>

    </nav>
    <script>
        function navigateToLogin() {
            window.location.href = "{{ url_for('login') }}";
        }
    </script>
</body>
</html>
