<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery Register</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <div class="button-box">
                <a class="dash-back" href="{{ url_for('start') }}"><div id="btn"></div>
                <div id="btn"></div>
                <h5>HiFi Food Delivery</h5>
                </a>
            </div>
            <form id="registerForm" class="input-group register-form" action="{{ url_for('verify_data') }}" method="POST">
                <input type="text" class="input-field" id="registerUsername" placeholder="Username" name="username" required>
                <input type="password" class="input-field" id="registerPassword" placeholder="Password" name="password" required>
                <input type="password" class="input-field" id="registerconfirmPassword" placeholder="Confirm-Password" name="confirm-password" required>
                <input type="email" class="input-field" id="registerEmail" placeholder="Email" name="email" required>
                <input type="text" class="input-field" id="registerLocation" placeholder="location" name="location">
                <input type="number" class="input-field" id="registerContact" placeholder="Contact" name='contact' required>
                <button type="submit" class="submit-btn">Register</button>
            </form>
            <p>Already Registered? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </div>
    <script>
        function navigateToLogin() {
            window.location.href = "{{ url_for('login') }}";
        }
    </script>
</body>
</html>
